<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shopKPRAdmin.owoshop">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-feature android:name="android.hardware.camera2.full" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup"
        tools:targetApi="m">
        <activity android:name="com.shopKPRAdmin.giftAndDeals.deals.AllDealsActivity"></activity>
        <activity android:name="com.shopKPRAdmin.giftAndDeals.deals.CreateDeal" />
        <activity android:name="com.shopKPRAdmin.giftAndDeals.gifts.AllGifts" />
        <activity android:name="com.shopKPRAdmin.giftAndDeals.gifts.CreateNewGift" />
        <activity android:name="com.shopKPRAdmin.timeSlot.AllAvailableTimeSlots" />
        <activity android:name="com.shopKPRAdmin.productsManagement.stockedOutProducts.StockedOutProducts" />
        <activity android:name="com.shopKPRAdmin.adminManagement.DeleteAdmin" />
        <activity android:name="com.shopKPRAdmin.shopManagement.allRegisteredShops.ApprovedShopDetails" />
        <activity android:name="com.shopKPRAdmin.userManagement.shopKeeperUser.disabledShopKeepers.DisabledShopKeeperUserDetails" />
        <activity android:name="com.shopKPRAdmin.userManagement.shopKeeperUser.allShopKeepers.ShopKeeperUserDetails" />
        <activity android:name="com.shopKPRAdmin.userManagement.shopKeeperUser.allShopKeepers.AllEnabledShopKeepers" />
        <activity android:name="com.shopKPRAdmin.userManagement.shopKeeperUser.disabledShopKeepers.AllDisabledShopKeepers" />
        <activity
            android:name="com.shopKPRAdmin.categoryManagement.brand.deleteBrand.DeleteBrand"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.categoryManagement.brand.updateBrand.AllBrandsOfASubCategory"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.categoryManagement.brand.updateBrand.UpdateBrand"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.categoryManagement.brand.updateBrand.AllSubCategoriesOfACategory"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.categoryManagement.brand.updateBrand.AllCategories"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.categoryManagement.subCategory.deleteSubCategory.SubCategoryDeleteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.categoryManagement.subCategory.deleteSubCategory.DeleteSubCategorySubCategoriesOfCategory"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.categoryManagement.subCategory.deleteSubCategory.DeleteSubCategoryAllCategories"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.categoryManagement.subCategory.updateSubCategory.SubCategoryUpdateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.categoryManagement.subCategory.updateSubCategory.UpdateSubCategorySubCategoriesOfCategory"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.categoryManagement.subCategory.updateSubCategory.UpdateSubCategoryAllCategories"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.categoryManagement.category.DeleteCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.categoryManagement.category.UpdateCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.categoryManagement.category.DeleteExistentCategory"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.categoryManagement.category.UpdateExistentCategory"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.categoryManagement.category.AddNewCategory"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.orderManagement.completedOrders.CompletedOrderDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.orderManagement.cancelledOrders.CancelledOrderDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.orderManagement.shipped.ShippedOrdersDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.orderManagement.pickedOrders.Picked_order_details"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.orderManagement.processingOrders.Processing_orders_details"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.orderManagement.shipped.SetShippedToDeliveredState"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.timeSlot.AddATimeSlot"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.categoryManagement.brand.addBrand.AddABrand"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.orderManagement.shipped.ShippedOrders"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.orderManagement.pickedOrders.SetPickedToShipped"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.orderManagement.processingOrders.SetProcessingToPicked"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.orderManagement.pickedOrders.PickedOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.orderManagement.pendingOrders.PendingOrderDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.orderManagement.completedOrders.CompletedOrdersList"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.orderManagement.cancelledOrders.CanceledOrderList"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.orderManagement.confirmedOrders.SetConfirmedOrderToProcessingState"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.orderManagement.pendingOrders.PendingOrders"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.orderManagement.ShopOrderManagement"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.categoryManagement.subCategory.addSubCategory.AddASubCategory"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.shopManagement.approveShop.ApproveAPendingShop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.offersManagement.QuponActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.productsManagement.SearchedProducts"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.pushNotification.CloudMessagingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.productsManagement.addProduct.PreViewProductDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.orderManagement.confirmedOrders.confirmed_order_details"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/maps_api_key" />

        <activity
            android:name="com.shopKPRAdmin.owoshop.LocationFromMap"
            android:label="@string/title_activity_location_from_map"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.offersManagement.deleteOffer.DeleteOfferActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.offersManagement.avilableOffers.AvailableOffersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.productsManagement.ProductDetailsModification"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.productsManagement.allProducts.AvailableProducts"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.productsManagement.addProduct.AddAProduct"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.productsManagement.addProduct.AddProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.shopManagement.approveShop.ShopCreationRequestsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.adminManagement.UpdateAdminData"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.offersManagement.addNewOffer.CreateOffersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.adminManagement.AllAdmins"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.shopManagement.allRegisteredShops.ManageRegisteredShops"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPRAdmin.login.Splash_screen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.shopKPRAdmin.adminManagement.CreateNewAdminActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.shopKPRAdmin.adminHomePanel.HomeActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>